Makefile.in
Makefile
.deps
.libs
.*.cmd
*~
.*.swp
*.ko
*.o
*.mod.c

/config.log
/config.status
/configure
/autom4te.cache
/aclocal.m4
/tags

/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing
/test-driver

/common/knem_config.h.in

/build*

/tools/check/*.sh

/common/knem_config.h
/common/stamp-h1
/debian/.debhelper/
/debian/autoreconf.after
/debian/autoreconf.before
/debian/files
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/knem/
/debian/knem-dkms/
/debian/knem-modules/
/debian/tmp/
/driver/linux/.cache.mk
/driver/linux/.tmp_versions/
/driver/linux/Kbuild
/driver/linux/Module.symvers
/driver/linux/knem_checks.h
/driver/linux/knem_main.o.ur-safe
/driver/linux/modules.order
/knem.pc
/knem-*.tar.gz
/tools/check/wrapper
/tools/knem_access_rights_test
/tools/knem_collectives
/tools/knem_cost
/tools/knem_local_install
/tools/knem_loopback
/tools/knem_multifd_test
/tools/knem_notify_fd_test
/tools/knem_pingpong
/tools/knem_region_cost
/tools/knem_status_test
/tools/knem_vect_test

