[Unit]
Description=VMA Daemon
After=network.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/local/sbin/vmad
RestartForceExitStatus=1 SIGTERM

[Install]
WantedBy=multi-user.target
